:root {
    --main-bg: #F7F5F0;
    --main-font: #5B3F00;
    --bee-up-gradient: linear-gradient(180deg, #FE8106 0%, #FFAF00 100%);
    --bee-up-gradient-horizontal: linear-gradient(90deg, #FE8306 0%, #FFAF00 100%);
  
    --primary: #37A8EE;
    --secondary: #01DCA4;
    --black: #2C2E30;
    --grey: #D8D8D8;
    --grey-dark: #C4BEBE;
    --grey-darker: #7C7C7C;
    --transparent-grey: #d8d8d8ce;
    --white-grey: #F6F8F9;
    --white: #ffffff;
    
  }