:root {
  --primary: #37A8EE;
  --primary-dark: #3399d9;
  --secondary: #01DCA4;
  --black: #2C2E30;
  --grey: #D8D8D8;
  --grey-dark: #C4BEBE;
  --grey-darker: #7C7C7C;
  --transparent-grey: #d8d8d8ce;
  --white-grey: #F6F8F9;
  --white: #ffffff;
}